<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Tache Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" (click)="onOpenModal(null!, 'add')">Add Tache <span class="sr-only">(current)</span></a>
        </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
        <input type="search" (ngModelChange)="searchTaches(keys.value)" #keys="ngModel" ngModel
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search Taches..." required>
         
         <select (ngModelChange)="searchProjet(keys.value)">
            <option></option>
            <option *ngFor="let tache of taches" [value]="tache.projet" [selected]="tache.projet"> {{tache.projet}} </option>
         </select>
     </form>
  </div>
</nav>

<div class="container" id="main-container">

<!-- <div class="row">
  <div *ngFor="let tache of taches" class="col-md-6 col-xl-3">
     <div class="card m-b-30">
        <div class="card-body row">
           <div class="col-6">
              <a href=""><img src="{{tache?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
           </div>
           <div class="col-6 card-title align-self-center mb-0">
              <h5>{{tache?.refTache}}</h5>
              <p class="m-0">{{tache?.client}}</p>
           </div>
        </div>
        <ul class="list-group list-group-flush">
           <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{tache?.projet}}</li>
           <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{tache?.intervenant}}</li>
        </ul>
        <div class="card-body">
           <div class="float-right btn-group btn-group-sm">
              <a (click)="onOpenModal(tache, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
              <a (click)="onOpenModal(tache, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
           </div>
        </div>
     </div>
  </div>
</div> -->


<div class="row">
   <div class="col-md-12">
       <div>
            <div class="table-responsive">
               <table class="table table-striped table-bordered"  >
                  <thead class="text-primary" >
                     <th>refTache</th>
                     <th>client</th>
                     <th>projet</th>
                     <th>intervenant</th>
                     <th>echeance</th>                            
                     <th>chargeHj</th>
                     <th>dateDemarrage</th>
                     <th>activite</th>
                     <th>technologies</th>
                     <th>derniereModif</th>
                     <th>EDIT</th>
                     <th>DELETE</th>
                  </thead>
                  <tbody >
                        <tr  *ngFor="let tache of taches" >
                           <td>{{tache?.refTache}}</td>
                           <td>{{tache?.client}}</td>
                           <td>{{tache?.projet}}</td>
                           <td>{{tache?.intervenant}}</td>                                            
                           <td>{{tache?.echeance}}</td>
                           <td>{{tache?.chargeHj}}</td>                                       
                           <td>{{tache?.dateDemarrage}}</td>
                           <td>{{tache?.activite}}</td>
                           <td>{{tache?.technologies}}</td>
                           <td>{{tache?.derniereModif}}</td>                                       
                           <td>
                              <a (click)="onOpenModal(tache, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                           </td>
                           <td>
                              <a (click)="onOpenModal(tache, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                           </td>
                        </tr>  
                  </tbody>
               </table>
            </div>
            <div style="border: 1px #CCC solid;width: 500px;height: 500px;">
               <canvas id="canvas">{{chart}}</canvas>
            </div>
       </div>
   </div>
</div>

<!-- Add Tache Modal -->
<div class="modal fade" id="addTacheModal" tabindex="-1" role="dialog" aria-labelledby="addTacheModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addTacheModalLabel">Add Tache</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddTache(addForm)">
          <div class="form-group">
             <label for="refTache">Reference Tache</label>
             <input type="text" ngModel name="refTache" class="form-control" id="refTache" placeholder="refTache" required>
          </div>
          <div class="form-group">
             <label for="client">client</label>
             <input type="text" ngModel name="client" class="form-control" id="client" placeholder="client" required>
          </div>
          <div class="form-group">
             <label for="projet">projet</label>
             <input type="text" ngModel name="projet" class="form-control" id="projet" placeholder="projet" required>
          </div>
          <div class="form-group">
             <label for="intervenant">intervenant</label>
             <input type="text" ngModel name="intervenant" class="form-control" id="intervenant" placeholder="intervenant" required>
          </div>
          <div class="form-group">
             <label for="echeance">echeance</label>
             <input type="date" ngModel name="echeance" class="form-control" id="echeance" placeholder="echeance" required>
          </div>
          <div class="form-group">
             <label for="chargeHj">chargeHj</label>
             <input type="text" ngModel name="chargeHj" class="form-control" id="chargeHj" placeholder="chargeHj" required>
          </div>
          <div class="form-group">
             <label for="dateDemarrage">dateDemarrage</label>
             <input type="date" ngModel name="dateDemarrage" class="form-control" id="dateDemarrage" placeholder="dateDemarrage" required>
          </div>
          <div class="form-group">
             <label for="activite">activite</label>
             <input type="text" ngModel name="activite" class="form-control" id="activite" placeholder="activite" required>
          </div>
          <div class="form-group">
             <label for="technologies">technologies</label>
             <input type="text" ngModel name="technologies" class="form-control" id="technologies" placeholder="technologies" required>
          </div>
          <div class="form-group">
             <label for="derniereModif">derniereModif</label>
             <input type="date" ngModel name="derniereModif" class="form-control" id="derniereModif" placeholder="derniereModif" required>
          </div>
          <div class="modal-footer">
             <button type="button" id="add-tache-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>

<!-- Edit Modal -->
<div class="modal fade" id="updateTacheModal" tabindex="-1" role="dialog" aria-labelledby="tacheEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateTacheModalLabel">Edit Tache {{editTache?.refTache}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
              <div class="form-group">
                 <label for="refTache">refTache</label>
                 <input type="text" ngModel="{{editTache?.refTache}}" name="refTache" class="form-control" id="refTache" aria-describedby="emailHelp" placeholder="refTache">
              </div>
              <input type="hidden" ngModel="{{editTache?.id}}" name="id" class="form-control" id="id" placeholder="ID">
              <input type="hidden" ngModel="{{editTache?.client}}" name="client" class="form-control" id="client" placeholder="client">
              <div class="form-group">
                 <label for="email">projet</label>
                 <input type="email" ngModel="{{editTache?.projet}}" name="projet" class="form-control" id="projet" placeholder="projet">
              </div>
              <div class="form-group">
                 <label for="intervenant">intervenant</label>
                 <input type="text" ngModel="{{editTache?.intervenant}}" name="intervenant" class="form-control" id="intervenant" placeholder="intervenant">
              </div>
              <div class="form-group">
                 <label for="echeance">echeance</label>
                 <input type="date" ngModel="{{editTache?.echeance}}" name="echeance" class="form-control" id="echeance" name="echeance" placeholder="echeance">
              </div>
              <div class="form-group">
                 <label for="chargeHj">chargeHj</label>
                 <input type="text" ngModel="{{editTache?.chargeHj}}" name="chargeHj" class="form-control" id="chargeHj" name="chargeHj" placeholder="chargeHj">
              </div>
              <div class="form-group">
                 <label for="dateDemarrage">dateDemarrage</label>
                 <input type="date" ngModel="{{editTache?.dateDemarrage}}" name="dateDemarrage" class="form-control" id="dateDemarrage" name="dateDemarrage" placeholder="dateDemarrage">
              </div>
              <div class="form-group">
                 <label for="activite">activite</label>
                 <input type="text" ngModel="{{editTache?.activite}}" name="activite" class="form-control" id="activite" name="activite" placeholder="activite">
              </div>
              <div class="form-group">
                 <label for="technologies">technologies</label>
                 <input type="text" ngModel="{{editTache?.technologies}}" name="technologies" class="form-control" id="technologies" name="technologies" placeholder="technologies">
              </div>
              <div class="form-group">
                 <label for="derniereModif">derniereModif</label>
                 <input type="date" ngModel="{{editTache?.derniereModif}}" name="derniereModif" class="form-control" id="derniereModif" name="derniereModif" placeholder="derniereModif">
              </div>
            <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdateTache(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteTacheModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Supprimer Tache</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete tache {{deleteTache?.refTache}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteTache(deleteTache?.id!)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>
</div>

<!-- Notification for no taches -->
<div *ngIf="taches?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">PAS DE TACHES!</h4>
  <p> PAS DE TACHES TROUVE.</p>
</div>
</div>